<!DOCTYPE html>
<html>
  <head>
    <title>Code 4 OSM: Development resources for OpenStreetMap related software</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Development resources for OpenStreetMap related software."/>
    <meta name="keywords" content="OpenStreetMap,development,code,software,learn,documentation"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css"/>

    <!-- for code highlighting -->
    <link rel="stylesheet" type="text/css" href="<%= topdir %>/static/coderay.css"/>

    <!-- local stuff -->
    <link rel="stylesheet" type="text/css" href="<%= topdir %>/static/code4osm.css"/>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Code 4 OSM</h1>
        <p>OSM, the <a href="http://osm.org/">OpenStreetMap</a> project, is the world's best free 
	  and open source of geographic data, maintained and improved by thousands of contributors
	  worldwide. This site brings together resources to help you develop applications using
	  this great data, tools for contributing to the project and infrastrucure components
	  which keep it running.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 id="learn">Learn about...</h2>
	  <p>Learn about the essentials of how geographic data are structured in OSM,
	    how to interact with the OSM APIs, how data flow through the OSM
	    infrastructure and ecosystem. If you want to get an idea of how OSM is
	    structured at a very large scale, then this is a great place to start.</p>
          <p><a class="btn btn-default" href="essentials/" role="button">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2 id="get-involved">Get involved with...</h2>
	  <p>Browse projects related to OSM and get involved with the community helping 
	    to make the software better. There are many OSM related projects with different
	    functions, in different programming languages and of different sizes. We'll try
	    to help you find one which interests you.</p>
          <p><a class="btn btn-default" href="tags/" role="button">Get involved &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2 id="">Find documentation on...</h2>
	  <p>Browse the developer documentation for projects related to OSM. We try to
	    collect and collate the documentation from many projects to help you find
	    the information you're looking for.</p>
          <p><a class="btn btn-default" href="projects/" role="button">Find documentation &raquo;</a></p>
        </div>
      </div>
    </div>

    <footer class="c4-footer" role="contentinfo">
      <div class="container">
	<p>Code4OSM is developed on GitHub: <a href="https://github.com/zerebubuth/code4osm.org">Fork Me</a> or <a href="https://github.com/zerebubuth/code4osm.org/issues">Report a problem</a>.</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
