body.c4-nav { padding-top: 50px; }

footer.c4-footer {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 10px;
}

ul.c4-unbullet {
    list-style: none;
}

header.c4-docs-nav {
		background-image: -webkit-gradient(linear,left 0,left 100%,from(#3f5e38),to(#2f472a));
		background-image: -webkit-linear-gradient(top,#3f5e38 0,#2f472a 100%);
		background-image: -moz-linear-gradient(top,#3f5e38 0,#2f472a 100%);
		background-image: linear-gradient(to bottom,#3f5e38 0,#2f472a 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f5e38',endColorstr='#ff2f472a',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		background-color: #2f472a;
		border-color: #080808;
}

div.jumbotron {
		padding: 30px;
		margin-bottom: 30px;
		font-size: 21px;
		font-weight: 200;
		line-height: 2.1428571435;
		color: inherit;
		background-color: #dcedd7;
}
